.hidden {
  display: none !important;
}

img.pngColorGreen {
  filter: invert(83%) sepia(14%) saturate(5968%) hue-rotate(90deg) brightness(89%) contrast(103%);
}
img.pngColorNone {
  filter: invert(0%);
}

#logtextarea textarea
{
  color: var(--energi-color-yellow);
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-size: smaller;
}

/* Choose account accordion title color green */
li.accordion-item.accordion-item-opened div.item-title
{
  color: var(--energi-color-green);
}
li.accordion-item div.item-title
{
  color: var(--energi-color-green-secondary);
}

#yellow-mono-small textarea
{
  color: var(--energi-color-yellow);
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-size: small;
  /*font-size: smaller;*/
}
#yellow-mono-small .item-radio div.item-title
{
  color: var(--energi-color-yellow);
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  /*font-size: small;*/
}

#inputIDPrivateKey,
#inputIDSelectedAddress
{
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  font-size: small;
}


a {
  color: var(--energi-color-green);
}
b,
strong {
  font-family: 'Open Sans';
  font-weight: 600;
}


/* Checked radio inner */
.md label.item-radio input[type="radio"]:checked ~ .icon-radio:after, .md label.item-radio input[type="radio"]:checked ~ * .icon-radio:after, .md .radio input[type="radio"]:checked ~ .icon-radio:after
{
  background-color: var(--f7-radio-active-color, var(--energi-color-green));
  transform: scale(1);
}
/* Checked radio outer , var(--f7-theme-color)); */
.md label.item-radio input[type="radio"]:checked ~ .icon-radio, .md label.item-radio input[type="radio"]:checked ~ * .icon-radio, .md .radio input[type="radio"]:checked ~ .icon-radio {
  border-color: var(--f7-radio-active-color);
}


/* Invert navigation bars to fill style #263238; */
:root,
:root.theme-dark,
:root .theme-dark {
  --f7-bars-bg-color: var(--f7-theme-color);
  --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
  --f7-bars-translucent-opacity: 0.9;
  --f7-bars-text-color: #fff;
  --f7-bars-link-color: #fff;
  --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
  --f7-bars-border-color: transparent;
  --f7-tabbar-link-active-color: #fff;
  --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
  --f7-sheet-border-color: transparent;
  --f7-tabbar-link-active-border-color: #fff;

  /*--f7-appbar-app-offset: 150px; */
  --f7-appbar-height: 96px;

  --f7-font-family: 'Open Sans', Roboto, Helvetica, FreeSans, sans-serif;
  --f7-navbar-title-font-weight: 600;
  --f7-card-header-font-weight: 600;

  --energi-color-green: #00E676;
  --energi-color-yellow: #acbb27;
  --energi-color-green-secondary: #69f0AE;
  --energi-color-text: #efe;

  --f7-theme-color-shade: #2cd048;
  --f7-theme-color-tint: #6ee081;
  --f7-input-focused-border-color: var(--energi-color-green);
  /* Radio buttons local/remote*/
  --f7-radio-extra-margin: 2px;
  --f7-list-item-media-margin: 5px;

  /*--f7-label-focused-text-color: #2cd048; */
}

.item-input-outline.item-input-with-value,
.item-input-outline.item-input-focused > .item-label.item-floating-label {
  color: var(--energi-color-green);
}
.list .item-input-with-value .item-floating-label
{
  color: var(--energi-color-green);
}
/*
.list .item-input-outline .item-floating-label {
  color: var(--energi-color-green);
}*/

.button-fill
{
--f7-button-text-color: var(--energi-color-text);
--f7-button-pressed-text-color: var(--f7-button-text-color, var(--f7-theme-color));
/*--f7-button-pressed-bg-color: rgba(var(--f7-theme-color-rgb), .15);*/
--f7-button-pressed-bg-color: var(--f7-button-fill-pressed-bg-color, var(--f7-theme-color-shade));
--f7-button-border-color: var(--energi-color-green);
--f7-button-fill-text-color: var(--energi-color-text);
--f7-button-fill-bg-color: var(--energi-color-green);
--f7-button-outline-border-color: var(--energi-color-green);
--f7-button-fill-pressed-bg-color: var(--energi-color-green-secondary);
}

.appbar,
.navbar,
.toolbar,
.subnavbar,
.calendar-header,
.calendar-footer {
  --f7-touch-ripple-color: var(--f7-touch-ripple-white);
  --f7-link-highlight-color: var(--f7-link-highlight-white);
  --f7-button-text-color: #fff;
  --f7-button-pressed-bg-color: rgba(255,255,255,0.1);
  --f7-font-family: 'Open Sans', Roboto, Helvetica, FreeSans, sans-serif;
}
.navbar-large-transparent,
.navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #000;

  --r: 0;
  --g: 122;
  --b: 255;
  --progress: var(--f7-navbar-large-collapse-progress);
  --f7-bars-link-color: rgb(
    calc(var(--r) + (255 - var(--r)) * var(--progress)),
    calc(var(--g) + (255 - var(--g)) * var(--progress)),
    calc(var(--b) + (255 - var(--b)) * var(--progress))
  );
}
.theme-dark .navbar-large-transparent,
.theme-dark .navbar-large.navbar-transparent {
  --f7-navbar-large-title-text-color: #fff;
}

/* Left Panel right border when it is visible by breakpoint */
.panel-left.panel-in-breakpoint:before {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .appbar .panel-open[data-panel="left"] {
  display: none;
}

/* Hide navbar link which opens left panel when it is visible by breakpoint */
.panel-left.panel-in-breakpoint ~ .view .navbar .panel-open[data-panel="left"] {
  display: none;
}

/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/
.ios .panel-left:not(.panel-in-breakpoint).panel-in ~ .view-main:before,
.ios .panel-left:not(.panel-in-breakpoint).panel-closing ~ .view-main:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
  z-index: 6000;
}

